<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://kit.fontawesome.com/95f4248091.js" crossorigin="anonymous"></script>
</head>
<body>
    <% if (session.userID) { %>
        <h1>Hi User, Welcome</h1>
        <a href="/logout" class="btn btn-primary">Logout</a>
    <% } else { %>
        <!-- Your sign-in form here -->
        <nav class="navbar navbar-expand-lg bg-primary-subtle mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="airPollution.html">Air pollution</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">About</a>
                        </li>
                        <li class="nav-item"">
                            <a class="nav-link active " aria-current="page" href="contact.html">Contact</a>
                        </li>
                        <li class="nav-item"">
                            <a class="nav-link active " aria-current="page" href="#">Sign in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <% } %>
    
    <nav class="navbar navbar-expand-lg bg-primary-subtle mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="airPollution.html">Air pollution</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About</a>
                    </li>
                    <li class="nav-item"">
                        <a class="nav-link active " aria-current="page" href="contact.html">Contact</a>
                    </li>
                    <% if(session.ID) { %>

                        <h1>Hi User, Welcome</h1>
    
                        <a href="/logout" class="btn btn-primary">Logout</a>
    
                    <% } else { %>
    
                        <div class="card">
                            <div class="card-header">Login</div>
                            <div class="card-body">
                                <form method="post" action="/login">
                                    <div class="mb-3">
                                        <label>Email Address</label>
                                        <input type="email" name="user_email_address" class="form-control" />
                                    </div>
                                    <div class="mb-3">
                                        <label>Password</label>
                                        <input type="password" name="user_password" class="form-control" />
                                    </div>
                                    <div class="mb-3">
                                        <input type="submit" class="btn btn-primary" value="Login" />
                                    </div>
                                </form>
                            </div>
                        </div>
    
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
   
</body>
</html>